/*keep the same font throughout the whole website, or change based on different parts of the page, how to code for a responsive website */           
/* Add the 3 lines above my h1 element */
body {
    background-color: goldenrod;
}

h1{
 text-align: center;
 padding-top: 50px;
 margin: 30px;
 position:absolute;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #10608e;
    color: #fff;    
    padding: 10px;
}

.navbar li a{
    text-decoration: none;
    color: #962828;
}

.navbar-toggle {
    border:none;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: coloumn;
    justify-content: space-between;
    height: 20px;
    padding: 0;
}

.navbar-toggle-icon {
    background-color: #fff;
    border: radius 2px;
    height: 2px;
    width: 20px;
    transition: all 0.2s ease-in-out;
}

.navbar-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar-menu li{
    margin-bottom: 10px;
}

.navbar-menu li:hover{
    background-color: aqua;
}

@media (min-width: 768px){
    .navbar-menu{
        display:flex;
        justify-content: flex-end;
    }

    .navbar-toggle {
        display: none;
    }
}
/* Create a hamburger menu at the top of my screen on the left hand side of my h1 element 
https://www.sololearn.com/blog/css-absolute-fix-relative-positioning/#:~:text=The%20relative%20positioning%20offsets%20elements%20according%20to%20their,can%20carry%20a%20positive%20or%20negative%20numerical%20value.
https://www.geeksforgeeks.org/comparison-between-css-grid-css-flexbox/
Things to research: types of ways to justify content, when do you choose what to style and when to style it.
Different ways measurements are used
What the last child, first child and pseudo selectors actually mean
What does @media do and why is it there in a css file*/